
#df-background {
  background-image: url("/images/Pending Request Pic.png");
  height: 650px;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.don-form {
  /*margin-top: 20px;*/
}

.field-box {

}

.don-field {

}

.don-field:hover {
  cursor: pointer;
}

.submit {
  /*color:#4A4A4A;*/
  padding: 3px 10px 3px 10px;
  /*margin-left: auto;*/
}

.submit:hover {
  cursor: pointer;
}
