
#df-background {
  background-image: url("/images/Pending Request Pic.png");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.don-form {
  padding: 200px;

}

.field-box {
  padding: 25px 0;
  background-color:#522A51;
  margin: 0 400px 0 400px;
  border-radius: 50px;
}

.don-field {
  padding: 8px 100px 8px 100px;
  
}

.submit {
  color:#4A4A4A;
  padding: 3px 10px 3px 10px;
}
