
#df-background {
  background-image: url("/images/Pending Request Pic.png");
  height: 650px;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.don-form {
  background-color:transparent;
  position:center;
  display: inline;
}

.field-box {
  /
  margin-top: 15px;
  padding: 10px 30px 10px 30px;
}

#border-pads {
  background-color: #fff;
  padding: 100px 120px;
  opacity: .9;


}

.don-field {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff2");
  margin-top: 300px;
  padding: 10px 60px 10px 5px;
  text-align: left;r
  display: inline;
  font-size: 16px;
  letter-spacing: 1px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #522A51;
  background: transparent;
}

.don-field:hover {
  cursor: pointer;
}

.submit {
  /*color:#4A4A4A;*/
  padding: 10px 60px 10px 5px;
  margin-left: 20px;
  text-align: center;
  background: transparent;
  font-size: 26px;
  padding: 5px 15px;
  border: 1px solid #522A51;
  color: #522A51;
  margin: 0 auto;
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

.submit:hover {
  cursor: pointer;
}
