body {
  /*background-color: #4A4A4A;*/
}
ul {
  list-style: none;
}
/*li{
  display: inline-block;
}*/

/*a:hover {
  background-color: #6B8A00;
}

.week-btns {

}

.checkbox {

}

.col-one {

}

.col-two {

}

.col-three {

}

.time-btns {

}*/
